In [ ]:
!curl -s https://raw.githubusercontent.com/teddylee777/machine-learning/master/99-Misc/01-Colab/mecab-colab.sh | bash

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from konlpy.tag import Okt, Mecab, Komoran, Kkma, Hannanum

okt = Okt()
mecab = Mecab()
kom = Komoran()
kkma = Kkma()
han = Hannanum()

In [5]:
pet = pd.read_csv('pet_sample.csv')

In [ ]:
# word count

In [6]:
pet_by_mon = pet.groupby('mon')['content'].sum()

In [ ]:
pet_by_mon

In [8]:
import re

def text_clean(doc):
  doc = re.sub('[^ㄱ-ㅎㅏ-ㅣ가-힣a-zA-Z ]', ' ', doc)
  return doc

In [ ]:
pet_by_mon_clean = pet_by_mon.apply(text_clean)
pet_by_mon_clean

In [ ]:
tokens = []
for doc in pet_by_mon_clean:
  token = mecab.morphs(doc)
  tokens.append(token)

tokens

In [12]:
len(tokens)

18

In [14]:
st_df = pd.read_csv('/content/drive/MyDrive/text_minning/stopwords-ko.txt', header=None)
st_list = [st[0] for st in st_df.values]

def remove_stwords(doc):
  doc = [t for t in doc if t not in st_list]
  doc = ' '.join(doc)
  return doc

In [15]:
clean_tokens = []
for token in tokens:
  token = remove_stwords(token)
  clean_tokens.append(token)

clean_tokens

In [ ]:
pet_tokens = pd.Series(clean_tokens, index = pet_by_mon.index)
pet_tokens

In [18]:
pet_tokens.to_csv('/content/drive/MyDrive/text_minning/pet_tokens.csv')

In [ ]:
pet_tokens

In [38]:
tokens_list = []

for token in pet_tokens:
  token = [t for t in token.split() if len(t) > 1 ]
  # token = ' '.join(token)
  tokens_list.append(token)

In [ ]:
tokens_list

In [21]:
import nltk

In [ ]:
common_tokens_list = []

for tokens in tokens_list:
  ko = nltk.Text(tokens)
  common_tokens = ko.vocab().most_common(50)
  common_tokens_list.append(common_tokens)

common_tokens_list

In [ ]:
tokens_counts = []
keyword = '경제'

for tokens in tokens_list:
  token_count = tokens.count(keyword)
  tokens_counts.append(token_count)

tokens_counts

In [ ]:
plt.plot(tokens_counts)

In [43]:
# text classification

In [45]:
pet

,Unnamed: 0,article_id,start,end,answered,votes,category,title,content,duration,mon
0,31,53,2017-08-19,2017-11-17,0,16,보건복지,소방공무원분들의 인원충원을 청원합니다!,안녕하세요? 저는 부산예문여고 2학년에 재학 중인 학생입니다. 다름이 아니라 저희 ...,90 days,201708
1,2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",15 days,201708
2,32,54,2017-08-19,2017-08-26,0,144,일자리,공정한 기회 균등이 보장되는 사회,안녕하십니까.저는 인천에서 지방으로 전출을 희망하는 별거 부부이자 중등교사입니다. ...,7 days,201708
3,0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,90 days,201708
4,68,91,2017-08-20,2017-09-19,0,165,경제민주화,증권 자본시장개정안(상장폐지법 개정안),존경하는 문제인 대통령님께\n먼저 어렵고 힘든 국정운영을 이끄시느라 노고가 많으십니...,30 days,201708
...,...,...,...,...,...,...,...,...,...,...,...
37771,377051,491184,2019-01-09,2019-02-08,0,3,육아/교육,85년~88년생 남자들중에 최악질이고 너무 이상한 남자들이 많은게 상대에게 고의적인...,85년~88년생 남자들중에 최악질이고 너무 이상한 남자들이 많은게 상대에게 고의적인...,30 days,201901
37772,377246,491413,2019-01-09,2019-02-08,0,3,행정,피의자가 더 큰소리차는 사회 바로 잡아주세요,예전 사건인데 피의자가 피해자 신상을 털어 다니는 곳 마다 저 놈 나쁜× 으로 몰아...,30 days,201901
37773,376972,491089,2019-01-09,2019-02-08,0,35,미래,기초의회 없애란 소리 나온다 정부야 지방자치 확대 캠페인 하지마라,봐라 야이야아~!! 뭐 지방자치 확대로 경제가 발전해? 우스와 죽겠네\n좁디좁은 ...,30 days,201901
37774,377570,491809,2019-01-09,2019-02-08,0,109,정치개혁,"★예천군의원 전원사퇴 후 형사처벌, 군의회 폐쇄 촉구합니다",박종철뿐만 아니라 예천군의원 전체가 사퇴하고 강력처벌 해야합니다 단순한 일탈 정도가...,30 days,201901
37775,377008,491131,2019-01-09,2019-02-08,0,129,정치개혁,기초의원폐지하고 주민자치제로 전환 바랍니다,제정자립도가 마이너스인 지자체가 전국에 얼마나 많은데 시의원은 명예직이 아닌 유급제...,30 days,201901