In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
df = pd.read_csv("./data/seoul_weather.csv", encoding='cp949', skiprows=11)
df.head(2)

   \t\t지점번호 지점명          일시  평균기온(℃)  최고기온(℃) \t최고기온시각  최저기온(℃) 최저기온시각
0       108  서울  1907-10-01     13.5     20.7      NaN      7.9    NaN
1       108  서울  1907-10-02     16.2     22.0      NaN      7.9    NaN

In [44]:
df.columns

Index(['\t\t지점번호', '지점명', '일시', '평균기온(℃)', '최고기온(℃)', '\t최고기온시각', '최저기온(℃)',
       '최저기온시각'],
      dtype='object')

In [45]:
df.drop(['\t\t지점번호', '지점명', '\t최고기온시각', '최저기온시각'], axis=1)

               일시  평균기온(℃)  최고기온(℃)  최저기온(℃)
0      1907-10-01     13.5     20.7      7.9
1      1907-10-02     16.2     22.0      7.9
2      1907-10-03     16.2     21.3     13.1
3      1907-10-04     16.5     22.0     11.2
4      1907-10-05     17.6     25.4     10.9
...           ...      ...      ...      ...
40483  2019-10-07     14.8     17.9     13.3
40484  2019-10-08     14.7     19.8     10.6
40485  2019-10-09     13.6     20.4      7.7
40486  2019-10-10     15.2     19.8     10.7
40487  2019-10-11     18.8     26.1     13.0

[40488 rows x 4 columns]

In [46]:
df.columns = ("일시","평온","고온","저온")

ValueError: Length mismatch: Expected axis has 8 elements, new values have 4 elements

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40488 entries, 0 to 40487
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   		지점번호   40488 non-null  int64
 1   지점명      40488 non-null  object
 2   일시       40488 non-null  object
 3   평균기온(℃)  39732 non-null  float64
 4   최고기온(℃)  39730 non-null  float64
 5   	최고기온시각  27655 non-null  object
 6   최저기온(℃)  39731 non-null  float64
 7   최저기온시각   27646 non-null  object
dtypes: float64(3), int64(1), object(4)
memory usage: 2.5+ MB

In [48]:
df["일시"] = pd.to_datetime(df["일시"])

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40488 entries, 0 to 40487
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   		지점번호   40488 non-null  int64
 1   지점명      40488 non-null  object
 2   일시       40488 non-null  datetime64[ns]
 3   평균기온(℃)  39732 non-null  float64
 4   최고기온(℃)  39730 non-null  float64
 5   	최고기온시각  27655 non-null  object
 6   최저기온(℃)  39731 non-null  float64
 7   최저기온시각   27646 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 2.5+ MB

In [50]:
df["일시"].dt.year

0        1907
1        1907
2        1907
3        1907
4        1907
         ...
40483    2019
40484    2019
40485    2019
40486    2019
40487    2019
Name: 일시, Length: 40488, dtype: int64

In [51]:
# 8월의 최고기온을 추출해서 라인그래프로 그리시오

In [52]:
df["일시"].dt.month

0        10
1        10
2        10
3        10
4        10
         ..
40483    10
40484    10
40485    10
40486    10
40487    10
Name: 일시, Length: 40488, dtype: int64

In [53]:
# 내년 8월 중의 최고 기온 하나를 뽑아서 line chart

In [ ]:
mon8_df = df.loc[df['일시']].dt.month == 8]
mon8_df['year'] = mon8_df['일시'].dt.year
mon8_df.groupby

In [54]:
df.loc[df["일시"].dt.month == 8]['최고 기온'].plot(kind='hist', bins=20)

KeyError: '최고 기온'

In [ ]:
# 지구온난화 여부확인을 위해 매년 연평균기온의 line chart를 그리시오